@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-rlvxvb,
.mantine-rlvxvb:hover {
  background-color: #e8eaf6;
  color: #3949ab;
}

.global_input {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
}

.desc {
  line-height: 28px;
  opacity: 0.8;
  font-weight: 400;
}


.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}
